* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, white, #87CEEB, #4682B4, #2F4F4F);
}
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.hamburger div {
  background-color: white;
  height: 4px;
  width: 30px;
  margin: 5px 0;
}

/* Navigation Menu */
nav {
  background-color: black;
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: width 0.4s ease;
  z-index: 99;
}

nav ul {
  list-style: none;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

nav ul li {
  margin: 20px 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

/* Show Hamburger in Mobile View */
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  nav {
    display: none;
  }
}

.help_container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
}

#help-button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s, box-shadow 0.2s;
}

#help-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

a:hover {
  color: #d1d5db; /* Optional hover effect */
}

  
  .welcome {
    position: relative;
    height: 850px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('Tornado.jpeg') center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }  
  .welcome-content {
    position: relative;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }  
  .message {
    color: white;
    background-color: transparent;
    height: 625px;
    margin-top: 25px;
    font-family: 'Avenir', 'Helvetica Neue', 'Arial', sans-serif;
  }
  
  .message h3 {
    font-size: 75px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .message h4 {
    font-size: 50px;
    margin-bottom: 25px;
    margin-left: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .message button {
    background: white;
    color: black;
    font-size: 20px;
    padding: 14px 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 30px;
  }
  
  .message button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    background: rgb(142, 142, 142);
  }
  
  .message button:active {
    transform: translateY(0);
    box-shadow: none;
  }